#WebHome h2 {
  font-size: 90%;
  font-weight: bold;
  margin: -10px 0 0 2px;
}
#WebHome h3 {
  margin: 0;
  padding: 0.3em 0.6em;
  background: url(./header-1e5390.png) top left no-repeat;
  color: white;
}
#WebHome h3 a:link, #WebHome h3 a:visited {
  color: white !important;
  text-decoration: none;
  background: transparent url(./External.gif) top right no-repeat;
  padding-right: 12px;
}
#WebHome h3 a:hover {
  text-decoration: underline;
  background-color: transparent;
}
#WebHome h3 img {
  vertical-align: baseline;
}
#WebHome div {
  vertical-align: top;
  text-align: left;
  float: left;
  width: 210px;
  height: 15em;
  margin: 0.6em 0.3em;
  background: #f6f6f6 url(./Background.png) top left repeat-y;
  border-bottom: 1px solid #dddddd;
}
#WebHome ul {
  list-style-type: none;
  padding: 0.4em 0;
  margin: 0;
}
#WebHome li {
  padding: 3px 0.6em;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  height: 1.5em;
  overflow: hidden;
}
#WebHome li.alt {
  background-color: #eee;
}
#WebHome li:hover {
  background-color: #4571D0;
  color: white;
  cursor: pointer;
}
#WebHome li a:link, #WebHome li a:visited {
  text-decoration: none;
  color: #2551B0;
}
#WebHome li a:hover {
  background-color: #4571D0;
  color: white;
}
#WebHome li:hover a:link, #WebHome li:hover a:visited {
  color: white;
}
#WebHome li:hover a:link, #WebHome li:hover a:visited {
  color: white;
}
